@import "tailwindcss";

:root {
  --background: #282C31;
  --text: #282C31;
  --text-button: #F4F4F4;
  --border: #282C31;
  --foreground: #F4F4F4;
  --card: #202226;
  --card-alt: #23262Bcc;
  --primary: #00FF99;
  --primary-dark: #00CC66;
  --muted: #8A8F98;
  --input-bg: #202226;
  --input-border: #8A8F98;
  --input-text: #F4F4F4;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-text-button: var(--text-button);
  --color-border: var(--border);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-muted: var(--muted);
  --color-input-bg: var(--input-bg);
  --color-input-border: var(--input-border);
  --color-input-text: var(--input-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

/* Remove os botões do tipo number no Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove os botões no Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
